body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: #2BB3DD;
}

.banner-column{
    background-color: rgb(129, 19, 219);
}

.navbar-container{
    top: 0;
    background-color: #262B37;
    position: sticky;
    z-index: 2;
}

.about-container{
   background-color: rgb(129, 19, 219);
}

.education-container{
    background-color: black;
}

.bg-redtype{
    background-color: orangered;
}

.bg-redtype:hover{
     color: black!important;
}

.redtype-color{
    color: orangered;
}

.circle-edu{
    background-color: orangered;
    width: 150px;
    height: 150px;
    border-radius: 50%;
     
}

.project-container{
    background-color: #2BB3DD;
}

.form-container{
    background-color: black;
}

.bummy-box{
    font-size: 72px;
}

.inner-form{
    background-color: white;
}

.footer{
    background-color: #2BB3DD;
}
.circle{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  background-color: white;
  font-size: 40px;
  text-align: center;
  color: #2BB3DD;

}
.circle:hover{
     
    background-color: #474D5D;
  
  
  }

  .named a{
      color: rgba(0, 0, 255, 0.596);
  }
  .named{
      color: rgba(0, 0, 255, 0.596) ;
  }

  